<div class="container">
    <ul class="cards">
        <li class="cards-item">
            <img src="{{poster_path}}" alt="{{original_title}}">
            <p class="film_name">{{title}}({{release_date}})</p>
            <p class="film_rate js_film_rate">{{vote}}</p>
        </li>
    </ul>
</div>